.head-content {
    display: -webkit-box !important;
}

.form-search .input-group .input-group-prepend {
    background: #dc3545;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    width: 2.75rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .form-search .input-group .input-group-prepend .input-group-text {
        background-color: unset;
        color: white;
        border: 0px;
        font-size: 16px;
    }

.head-content a {
    float: right;
}

.card-page {
    float: right;
}
.img-table{
    width:90px !important;
    height:60px !important;
    border-radius:unset !important
        ;
}
